.custom-ag-theme-alpine .ag-center-cols-clipper {
    height: auto !important;
  }
  
  .custom-ag-theme-alpine .ag-row {
    height: 200px !important;
    width: 10px !important;
    padding: 5px;
  }
  